.header {
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-bottom: 1.5rem;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.161);
    opacity: 1;
    
}